
/*estilos da página index.html*/
.center{
  text-align: center;
  color: antiquewhite;
  font-size: 24px;
}
.container{
  display: flex;
  flex-flow:row wrap; 
  justify-content: center;
}
.menu li{
  display: inline;
  padding:10px ;
  text-decoration:none ;
  color: bisque;
}
#menu li a {
  text-decoration:none;
  color: rgb(231, 231, 231);
  font-size:50px ;
}
#menu li a:hover{
  color:#057956;
}
.p-30{
  padding:30px ;
}
.tm-social{
  width:50px;
  height:50px;
  padding: 30px; 

}

.ml-50{
 margin-left:50px ;
}

.mah {
  color: antiquewhite;
  text-align: center;
  font-size: 60px;
}

 
/*estilos da página contato.html*/